

<!DOCTYPE html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="~/css/css/bootstrap.css" rel="stylesheet" />
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="~/css/css/style.css" rel="stylesheet" />
    <!-- font CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link href="~/css/css/font.css" rel="stylesheet" />
    <link href="~/css/css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        (function () {
            var js;
            if (typeof JSON !== 'undefined' && 'querySelector' in document && 'addEventListener' in window) {
                js = 'js/jquery.min.js';
            } else {
                js = 'js/jquery.min.js';
            }
            document.write('<script src="' + js + '"><\/script>');
        }());
    </script>
    <script src="~/JS/js/modernizr.js"></script>
    <script src="~/JS/js/jquery.cookie.js"></script>
    <script src="~/JS/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <!-- charts -->
    <script src="~/JS/js/raphael-min.js"></script>
    <script src="~/JS/js/morris.js"></script>
    <link href="~/css/css/morris.css" rel="stylesheet" />
    <!-- //charts -->
    <!--skycons-icons-->
    <script src="~/JS/js/skycons.js"></script>
    <!--//skycons-icons-->
</head>
<body class="dashboard-page">
    <script>
        var theme = $.cookie('protonTheme') || 'default';
        $('body').removeClass(function (index, css) {
            return (css.match(/\btheme-\S+/g) || []).join(' ');
        });
        if (theme !== 'default') $('body').addClass(theme);
    </script>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/Login/Show?n=2">
                    <img src="~/Images/zhuye.png" alt="" style="height:40px;width:40px;" />
                    <span style="margin-left:20px;">
                        主页
                    </span>
                </a>
            </li>
            <li class="has-subnav" style="margin-top:20px;">
                <a href="javascript:;">
                    <img src="~/Images/qiantaiguanli.png" alt="" style="height:30px;width:30px;margin-top:10px;margin-left:5px;" />
                    <span style="margin-left:20px;">
                        前台管理
                    </span>
                    <img src="~/Images/xiayiye.png" alt="" style="height:15px;width:15px; margin-left:70px;" />
                </a>
                <ul>
                    <li>
                        <a class="subnav-text" href="/Reception/ShowOrder?Permission=1">
                            订单管理
                        </a>
                    </li>
                    <li>
                        <a class="subnav-text" href="/Reception/ShowWaste?Permission=1">
                            废单管理
                        </a>
                    </li>
                    <li>
                        <a class="subnav-text" href="/Reception/ShowFoodSelection?Permission=1">
                            点菜管理
                        </a>
                    </li>
                    <li>
                        <a class="subnav-text" href="/Kitchen/Gettabless?Permission=1">
                            餐桌信息
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-subnav" style="margin-top:20px;">
                <a href="javascript:;">
                    <img src="~/Images/hangzhengbangongguanli.png" alt="" style="height:40px;width:40px;" />
                    <span style="margin-left:20px;">
                        办公管理
                    </span>
                    <img src="~/Images/xiayiye.png" alt="" style="height:15px;width:15px;margin-left:65px;" />
                </a>
                <ul>
                    <li>
                        <a class="subnav-text" href="/Work/AddUserinfo?Permission=4">添加职员</a>
                    </li>
                    <li>
                        <a class="subnav-text" href="/Work/ShowUserInfo?Permission=4">显示职员</a>
                    </li>
                    <li>
                        <a class="subnav-text" href="/Work/ShowProposer?Permission=8">审核店长</a>
                    </li>
                    <li>
                        <a class="subnav-text" href="/Work/Uptuser?Permission=1">修改密码</a>
                    </li>
                </ul>
            </li>
            <li class="has-subnav" style="margin-top:20px;">
                <a href="javascript:;">
                    <img src="~/Images/caiwuguanli.png" alt="" style="height:40px;width:40px;" />
                    <span style="margin-left:20px;">财务管理</span>
                    <img src="~/Images/xiayiye.png" alt="" style="height:15px;width:15px;margin-left:70px;" />
                </a>
                <ul>
                    <li>
                        <a class="subnav-text" href="/Finance/ShowBill?Permission=4">
                            账目查询
                        </a>
                    </li>
                    <li>
                        <a class="subnav-text" href="/Finance/ShowEarning?Permission=4">
                            收入消费查询
                        </a>
                    </li>
                    <li>
                        <a class="subnav-text" href="/Finance/FinancialStatement?Permission=4">
                            财务报表打印
                        </a>
                    </li>
                </ul>
            </li>
            <li style="margin-top:20px;">
                <a href="javascript:;">
                    <img src="~/Images/chufang.png" alt="" style="height:40px;width:40px;" />
                    <span style="margin-left:20px;">厨房管理</span>
                    <img src="~/Images/xiayiye.png" alt="" style="height:15px;width:15px;margin-left:70px;" />
                </a>
                <ul>
                    <li>
                        <a class="subnav-text" href="/Kitchen/ShowMenu?Permission=1">
                            菜式设置
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
        <ul class="logout">
            <li>
                <a href="login.html">
                    <img src="~/Images/dengchu.png" alt="" style="height:40px;width:40px;" />
                    <span class="nav-text">
                        注销
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    

        <!-- footer -->
        <!-- //footer -->
   
    <div class="tpl-content-wrapper" style="margin:0 auto">
        @RenderBody()
    </div>
    <script src="~/JS/js/bootstrap.js"></script>
    <script src="~/JS/js/proton.js"></script>

</body>
