<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <meta name="apple-mobile-web-app-title" content="Amaze UI" />

    <link rel="icon" type="image/png" href="~/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/i/app-icon72x72@2x.png">
    <link href="~/css/amazeui.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />

    <script src="~/JS/jquery.min.js"></script>
    <script src="~/JS/app.js"></script>
    <script src="~/JS/amazeui.min.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@

</head>
<body>
    <!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->



    <header class="am-topbar admin-header">
        <div class="am-topbar-brand">
            <img src="~/i/logo.png">
        </div>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

                <li class="am-dropdown tognzhi" data-am-dropdown>
                    <button class="am-btn am-btn-primary am-dropdown-toggle am-btn-xs am-radius am-icon-bell-o" data-am-dropdown-toggle> 消息管理<span class="am-badge am-badge-danger am-round">6</span></button>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">所有消息都在这里</li>
                        <li><a href="#">未激活会员 <span class="am-badge am-badge-danger am-round">556</span></a></li>
                        <li><a href="#">未激活代理 <span class="am-badge am-badge-danger am-round">69</span></a></a></li>
                        <li><a href="#">未处理汇款</a></li>
                        <li><a href="#">未发放提现</a></li>
                        <li><a href="#">未发货订单</a></li>
                        <li><a href="#">低库存产品</a></li>
                        <li><a href="#">信息反馈</a></li>
                    </ul>
                </li>

                <li class="kuanjie">

                    <a href="#">会员管理</a>
                    <a href="#">奖金管理</a>
                    <a href="#">订单管理</a>
                    <a href="#">产品管理</a>
                    <a href="#">个人中心</a>
                    <a href="#">系统设置</a>
                    <a href="/Login/Index/">注销</a>
                </li>



                <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
            </ul>
        </div>
    </header>

    <div class="am-cf admin-main">

        <div class="nav-navicon admin-main admin-sidebar">


            <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;font-size:15px;">


                欢迎系统管理员:@Session["UserName"]

                <input id="Hidden1" type="hidden" value="@Response.Cookies["UserID"].Value" />
                <input id="Hidden1" type="hidden" value="@Session["UserID"]" />
            </div>
            <div class="sideMenu" style="font-size:15px;">
                <h3 class="am-icon-cart-plus"><em></em> 前台管理</h3>
                <ul>
                    <li><a href="/Reception/ShowOrder">订餐管理</a></li>
                    <li><a href="/Reception/ShowFoodSelection">点餐管理</a></li>
                    <li><a href="/Reception/ShowWaste">废单管理</a></li>
                    <li><a href="/Reception/EatingYards">生成就餐码</a></li>
                    <li><a href="/Kitchen/Gettabless">餐桌信息</a></li>
                </ul>
                <h3 class="am-icon-flag"><em></em> 办公管理</h3>
                <ul>
                    <li><a href="/Work/ShowComment">用户评论</a></li>
                    <li><a href="/Work/Uptuser">用户管理</a></li>
                </ul>
                <h3 class="am-icon-users"><em></em>财务管理</h3>
                <ul>
                    <li><a href="/Finance/ShowCost">成本查询</a></li>
                    <li><a href="/Finance/ShowBill">账目查询</a></li>
                    <li><a href="/Finance/ShowEarning">收入消费查询</a></li>
                    <li><a href="/Finance/FinancialStatement">财务报表打印</a></li>
                </ul>
                <h3 class="am-icon-volume-up"><em></em> 厨房管理</h3>
                <ul>
                    <li><a href="/Kitchen/ShowMenu">菜品设置</a></li>
                </ul>
            </div>
            <!-- sideMenu End -->

            <script type="text/javascript">
                jQuery(".sideMenu").slide({
                    titCell: "h3", //鼠标触发对象
                    targetCell: "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
                    effect: "slideDown", //targetCell下拉效果
                    delayTime: 300, //效果时间
                    triggerTime: 150, //鼠标延迟触发时间（默认150）
                    defaultPlay: true,//默认是否执行效果（默认true）
                    returnDefault: true //鼠标从.sideMen移走后返回默认状态（默认false）
                });
            </script>
        </div>

        <div class=" admin-content">

            <div class="daohang">
                <ul>
                    <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs" style="font-size:15px;" onclick="location.href='/Login/Show'"> 首页</button></li>
                </ul>
            </div>

            <div class="admin">
                @RenderBody()
            </div>

        </div>




    </div>

    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/polyfill/rem.min.js"></script>
    <script src="assets/js/polyfill/respond.min.js"></script>
    <script src="assets/js/amazeui.legacy.js"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <!--<![endif]-->
</body>
</html>
