
@{
    ViewBag.Title = "null";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.all.js"></script>
<script src="~/layui/layui.js"></script>
<h2>EatingYards</h2>

<div style="height:1000px;width:1000px;padding-top:250px;padding-left:400px">
    <button class="layui-btn layui-btn-radius  layui-btn-lg layui-btn-warm layui-btn-normal" onclick="location.href='/Reception/RandomNum'">
        生成验证码
    </button>
    <label id="lab" style="font-size:100px;">
        @if (Session["str"] != "" || Session["str"] != null)
        {
            <span id="sp">取餐码：</span>
            @Session["str"];
        }
        else
        {

        }
    </label>
</div>

